{% extends 'base.html' %}

{% block title %}
    <title>Home | Playlist Saver</title>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="is-flex is-flex-direction-column is-align-items-center is-size-4">
                    <div class="content is-size-6">
                        Hello, stranger! We'll need restricted access to your Spotify account to
                        read your playlists.<br><br>Click the login button, and you'll be redirected
                        to the Spotify gateway. Follow the instructions from Spotify. We'll wait for you here.
                    </div>
                    <form action="/login" method="GET">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="collaborative">
                                    Include collaborative playlists
                                </label>
                            </div>
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="private">
                                    Include private playlists
                                </label>
                            </div>
                        </div>
                        <button class="button" type="submit">
                            <span class="icon is-small" style="color: #1DB954;"><i class="fab fa-spotify"></i></span>
                            <span>Login with Spotify</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}