<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Playlists</title>
    <style>
        .login {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="login">
    <a href="/login">Login with Spotify</a>
    <a href="/playlists">Show my playlists</a>
</div>
</body>
</html>